<div class="container-LogIn">
  <form >
    <label>
      Nombre de Usuario
      <input type="text" name="usuario" />
    </label>
    <br />
    <label
      >Contraseña
      <input type="password" name="contrasena" />
    </label>
    <br />
    <div>
      <button type="submit" id="boton" >
       <a href="http://localhost:3000/login"> Enviar</a>
      </button>
    </div>

    <p>Aun no esta registrado?</p>
  </form>
  <nav>
    <button routerLink="/registro">Registrarse</button>
  </nav>
</div>
