/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 0;
    background-image:url(./assets/fondo-acuarela_220290-34.webp);
    background-size:cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100vh;
    /* font-family: 'Lato', sans-serif; */
    
}